<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		table {
			width: 100%;
			margin: 0px
			padding: 0px;
			box-sizing: border-box;
		}
	</style>
</head>
<body>
	<center>
		<form action="" method="POST">
			<p><h1>FORM MAHASISWA</h1></p>
			<table border="1" width="70%">
				<tr>
					<td colspan="4"><center><h2>Data Mahasiswa</h2></center></td>
				</tr>
				<tr>
					<th>NIM</th>
					<th>Nama</th>
					<th>Alamat</th>
					<th>Tanggal Lahir</th>
				</tr>
				<tr>
					<td>E41191322</td>
					<td>Bunga</td>
					<td>Jember</td>
					<td>11-09-2001</td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>