<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			padding: 4px;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			margin: 0px
			padding: 0px;
			box-sizing: border-box;
		}
		th, td {
			text-align: left;
			padding: 7px;
		}
		th {
			background-color: #4caf50;
			color: white;
		}
		tr:nth-child(even){background-color: #f2f2f2}
	</style>
</head>
<body>
	<center>
		<p><h1>DATA DOSEN</h1></p>
			<table border="1" width="70%">
				<tr>
					<th>NIDN</th>
					<th>Nama</th>
					<th>Jenis Kelamin</th>
					<th>Tanggal Lahir</th>
					<th>Alamat</th>
					<th>No Telepon</th>
				</tr>
				<tr>
					<td>19919092093048500001</td>
					<td>Cici</td>
					<td>Perempuan</td>
					<td>21-09-1970</td>
					<td>Jember</td>
					<td>087654321121</td>
				</tr>
				<tr>
					<td>19919092032683200009</td>
					<td>Caca</td>
					<td>Perempuan</td>
					<td>21-09-1970</td>
					<td>Jember</td>
					<td>083112144546</td>
				</tr>
				<tr>
					<td>19919098744563200014</td>
					<td>Cece</td>
					<td>Perempuan</td>
					<td>21-09-1970</td>
					<td>Jember</td>
					<td>0831121233436</td>
				</tr>
			</table>
	</center>
</body>
</html>