<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			padding: 4px;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			margin: 0px
			padding: 0px;
			box-sizing: border-box;
		}
		th, td {
			text-align: left;
			padding: 7px;
		}
		th {
			background-color: #4caf50;
			color: white;
		}
		tr:nth-child(even){background-color: #f2f2f2}
	</style>
</head>
<body>
	<center>
		<p><h1>DATA MAHASISWA</h1></p>
			<table border="1" width="70%">
				<tr>
					<th>NIM</th>
					<th>Nama</th>
					<th>Jenis Kelamin</th>
					<th>Tanggal Lahir</th>
					<th>Alamat</th>
					<th>Program Studi</th>
					<th>No Telepon</th>
				</tr>
				<tr>
					<td>E41191322</td>
					<td>Bunga Prasetya Dwi Ulul Azmi</td>
					<td>Perempuan</td>
					<td>11-09-2001</td>
					<td>Jember</td>
					<td>Teknik Informatika</td>
					<td>083654445519</td>
				</tr>
				<tr>
					<td>E41191233</td>
					<td>Alfyan</td>
					<td>Laki-laki</td>
					<td>21-09-2000</td>
					<td>Jember</td>
					<td>Teknik Komputer</td>
					<td>083112198876</td>
				</tr>
				<tr>
					<td>E411924755</td>
					<td>Matahari Senja</td>
					<td>Perempuan</td>
					<td>15-01-2000</td>
					<td>Jember</td>
					<td>Manajemen Informatika</td>
					<td>083119876345</td>
				</tr>
			</table>
	</center>
</body>
</html>