<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			background-image: url("side.jpg");
			margin-left: 10px;
			padding: 10px
		}
		ul li a {
			font-size: 20px;
			text-decoration: none;
		}
		ul {
			padding-left: 0px;
			list-style: none;
		}
		li a {
			border-left: 6px solid grey;
  			background-color: lightgrey;
  			padding: 5px;
  			line-height: 40px;
		}
	</style>
</head>
<body>
	<p>
		<nav>
			<ul>
				<li><a href="mahasiswa.html" target="konten">Form Mahasiswa</a></li>
				<li><a href="dosen.html" target="konten">Form Dosen</a></li>
				<li><a href="datamhs.html" target="konten">Data Mahasiswa</a></li>
				<li><a href="datadsn.html" target="konten">Data Dosen</a></li>	
			</ul>
		</nav>
	</p>
</body>
</html>