.body{
	font-family: roboto;
}

.judul{
	background: rgb(128, 238, 220);
	padding: 10px;
	text-align: center;
}

a{
	text-decoration: none;
}

.table{
	border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

.table2{
    width: 100%
}

table.table tr th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #5296e4;
}

table.table tr th , table.table tr td{
	padding: 10px;
}

.tombol{
	background-color: white;
	border: 2px solid #008CBA;
	border-radius: 4px;
	padding: 15px 30px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	transition-duration: 0.4s;
}

.tombol:hover{
	background-color: #008CBA;
	color: white;
}

.edit{
	background-color: #008CBA;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15px;
  	/*margin: 4px 2px;*/
  	cursor: pointer;
  	padding: 4px 15px;
}

.hapus{
	background-color: #f44336;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15px;
  	margin: 4px 2px;
  	cursor: pointer;
  	padding: 4px 15px;
}

input[type=text] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.container{
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 10px;
}