fieldset{
	
}
h2 {
	font-family: sans-serif;
	color: white;
	background-color: cyan;
	border: none;
	padding: 12px;
}
table ,td {
	font-family: sans-serif;
	color: #444;
	
  }

input[type=text],select, textarea{
 	 width: 95%;
 	 padding: 12px;
 	 border: 1px solid #00008B;
 	 border-radius: 4px;
 	 box-sizing: border-box;
 	 resize: vertical;
}
input[type=radio]{
	padding: 12px;
	border: 1px solid #0b75ff;
	border-radius: 4px;
	box-sizing: border-box;

}
input[type=password]{
	width: 95%;
	padding: 12px;
	border: 1px solid #00008B;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

input[type=number]{
	width: 95%;
	padding: 12px;
	border: 1px solid #00008B;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
input[type=submit]{
	background-color: cyan;
  	color:black;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}
input[type=submit]:hover{
	background-color: cyan;
}